<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('assets/images/testimg.jpg');
            background-size: cover;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <h2>
        <marquee>OUR HAPPY CLIENTS!</marquee>
    </h2>

    <div class="container">
        <img src="assets/images/user1.jfif" alt="Avatar" style="width:90px">
        <p><span>Chris Fox</span></p>
        <p>I cannot thank you enough for the wonderful job you did - it was delightful working with you. We both got to eat a little (not as much as we wanted! lol) and it was TERRIFIC</p>
    </div>

    <div class="container">
        <img src="assets/images/user2.jpg" alt="Avatar" style="width:90px">
        <p><span>Rebecca Flex</span></p>
        <p>Oh my goodness, the cakes were all perfect in every single way!!! I could not be any happier. They were stunning and delicious. So happy!</p>
    </div>

    <div class="container">
        <img src="assets/images/user3.jpg" alt="Avatar" style="width:90px">
        <p><span>Lily Patterson</span></p>
        <p>We ordered for the first time this weekend- mixed cookies for my dad’s surprise party. It was absolutely delicious! Definitely our new go-to bakery!</p>
    </div>

    <div class="container">
        <img src="assets/images/user4.jpg" alt="Avatar" style="width:90px">
        <p><span>Lucas Herbert</span> </p>
        <p>Everything in this place looks so good. Very clean, friendly atmosphere. I tried a numerous amount of things and wasn’t disappointed in anything</p>
    </div>
</body>